/* ===== Reset global ===== */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #121212;
  color: #fff;
}

/* ===== El router ocupa toda la pantalla ===== */
:host, app-root, router-outlet {
  display: block;
  height: 100%;
  width: 100%;
}

/* ===== Scrollbar global (opcional) ===== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b30000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffcc00;
}
