<aside class="sidebar">
  <div class="sidebar-header">
    <h2 class="brand">Masterserv360</h2>
  </div>

  <nav class="menu">
    <ul>
      <li>
        <a routerLink="/pos/dashboard" routerLinkActive="active">
          <i class="bi bi-speedometer2"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/pos/productos" routerLinkActive="active">
          <i class="bi bi-box-seam"></i>
          Productos
        </a>
      </li>
      <li>
        <a routerLink="/pos/categorias" routerLinkActive="active">
          <i class="bi bi-tags"></i>
          Categorías
        </a>
      </li>
      <li>
        <a routerLink="/pos/usuarios" routerLinkActive="active">
          <i class="bi bi-people"></i>
          Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/pos/ventas" routerLinkActive="active">
          <i class="bi bi-cart"></i>
          Ventas
        </a>
      </li>
      <li>
        <a routerLink="/pos/proveedores" routerLinkActive="active">
          <i class="bi bi-truck"></i>
          Proveedores
        </a>
      </li>
      <li>
        <a routerLink="/pos/configuracion" routerLinkActive="active">
          <i class="bi bi-gear"></i>
          Configuración
        </a>
      </li>
    </ul>
  </nav>
</aside>
