:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212; /* Fondo General Oscuro */
  color: #e0e0e0; /* Texto General Claro */
}

main {
  flex-grow: 1;
  padding-bottom: 3rem;
}

/* --- NAVBAR PERSONALIZADA --- */
.navbar {
  background: linear-gradient(180deg, #1a1a1a 0%, #121212 100%);
  border-bottom: 2px solid #E41E26; /* Línea Roja Masterserv */
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.navbar-brand {
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-brand i {
  color: #E41E26;
}

/* Links del menú */
.navbar-nav .nav-link {
  color: #bbb !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
}

/* Link Activo (Rojo) */
.navbar-nav .nav-link.active {
  color: #E41E26 !important;
  font-weight: 700;
}

/* Dropdown de Usuario */
.dropdown-menu {
  background-color: #1e1e1e;
  border: 1px solid #333;
}

.dropdown-item {
  color: #e0e0e0;
}

.dropdown-item:hover {
  background-color: #333;
  color: #fff;
}

.dropdown-divider {
  border-top: 1px solid #444;
}

/* Input de Búsqueda en Navbar */
.form-control-search {
  background-color: #2c2c2c;
  border: 1px solid #444;
  color: #fff;
}

.form-control-search::placeholder {
  color: #888;
}

.form-control-search:focus {
  background-color: #333;
  border-color: #E41E26;
  color: #fff;
  box-shadow: none;
}